@{
	ViewBag.Title = "Admin Menu";
}

<h3>Menu</h3>

<ul>
	<li>@Html.ActionLink("View System Logs", "ViewSystemLog", "Admin")</li>
	<li>@Html.ActionLink("View System Settings", "ViewSystemSetting", "Admin")</li>
</ul>
